<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 {
            color: red;
        }
    </style>
</head>

<body>
  <p>-----Original Message-----</p>
  <pre>
From: Hotelligence360 3.0 <noreply@travelclick.com> 
Sent: Sunday, May 15, 2022 1:54 PM 
Subject: Top 150 Agencies by Revenue Opportunity (YTD)
  </pre>
  <p>See the attached Report file.</p>
  <p>PLEASE DO NOT REPLY TO THIS EMAIL:</p>
  <p>
    This report contains highly sensitive information intended only for persons authorized by the subscriber. If you are not
    the intended recipient and/or properly authorized to access the information, please delete it immediately and notify Customer Care that your receipt
    was in error.
  </p>
  <p>
    For customer assistance, please forward this report with your name and contact information along with a brief explanation
    of your request to the one of the mail addresses at the following link <span><a href="http://https://eur01.safelinks.protection.outlook.com/? care&amp;data-05%7C01%7C%7Cb7e7e6797e2b4fddcc0308da4339-367%7cb3f4f7c272ce4192aba4d6c771965766%7C%7C%7C632896212608241 657%7CUnknown%7CTWFpbGZcb3d8ey/WijoiMC4wLjAwMDAILC/QjlV2uMzli CIBT6k1haWwiLCJXVCI6Mn0% 30% 73000%7C%7C%7C&ampadata fbyBERBB1U05MG6%2F:D9X4w8HkoRoE70%2BM%2FDmamoy59U%30&amp;reserved=0">https://eur01.safelinks.protection.outlook.com/?
    care&amp;data-05%7C01%7C%7Cb7e7e6797e2b4fddcc0308da4339-367%7cb3f4f7c272ce4192aba4d6c771965766%7C%7C%7C632896212608241
    657%7CUnknown%7CTWFpbGZcb3d8ey/WijoiMC4wLjAwMDAILC/QjlV2uMzli CIBT6k1haWwiLCJXVCI6Mn0% 30% 73000%7C%7C%7C&ampadata
    fbyBERBB1U05MG6%2F:D9X4w8HkoRoE70%2BM%2FDmamoy59U%30&amp;reserved=0</a></span>
  </p>
  <p>
    Alternatively please feel free to contact us on our below numbers if you have any questions or to expedite the case.
  </p>
  <p>
    Contact Info
  </p>
    </ul>

</body>

</html>